    <div class="header">
        <div class="move">
            <h5>MOVE</h5>
            <h4 id="yourMove">0</h4>
        </div>
        <div class="time">
            <h5>TIME</h5>
            <h4 id="yourTime">0 s</h4>
        </div>
    </div>
    <div class="wrap">
        <div class="game"></div>
        <div class="modal-overlay">
            <div class="modal">
                <div class="result">
                    <div class="score">
                        <h5>SCORE</h5>
                        <h4 id="yourScore">0000</h4>
                    </div>
                    <div class="best">
                        <h5>BEST</h5>
                        <h4 id="yourBest">0000</h4>
                    </div>
                </div>
                <h2 class="winner" id="quot"></h2>
                <button class="restart">PLAY AGAIN</button>
                <p class="share-text">Share it?</p>
                <ul class="social">
                    <li><a target="_blank" class="twitter" href="https://twitter.com/share?url=https://sense-dupe.netlify.com/"><span class="fa fa-twitter"></span></a></li>
                    <li><a target="_blank" class="facebook" href="https://www.facebook.com/sharer.php?u=https://sense-dupe.netlify.com/"><span class="fa fa-facebook"></span></a></li>
                    <li><a target="_blank" class="google" href="https://plus.google.com/share?url=https://sense-dupe.netlify.com/"><span class="fa fa-google"></span></a></li>
                </ul>
            </div>
        </div>
    </div>